<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>Vinland</title>
    <script src="https://kit.fontawesome.com/672585d826.js" crossorigin="anonymous"></script>
</head>

<body>


<div class="main">


    
    <br><h1>Vinland Saga</h1>
    <span>Never ending story</span>

<a href="project.html">Projects</a>
<style>

span{
    
    color: rgb(219, 194, 5);
    font-size: 20px;
    font-weight: bold;
}


</style>
<br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br>
    <br><br>
    <br>
    <p class="p1">
        Let's hope for the best for everyone.I wish in vinland everyone lead a peaceful life and so then thorfin get to know his real meaning of life .I wish him to lead a good life after suffering so much in his past.
          </p>
          
          <p id="p2">
          Hope Thorfin will see his family in Iceland after his uncle find him but this isn't the end yet.War will be thrown soon in his life in vinland.
          </p>
      <br /><br />


    
    </div>

<div class="hello">

      <h5> click here to go  <a href="https://www.imdb.com/title/tt10233448/">Vingland saga</a>  </h5>

</div>


</body>

</html>